body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fce4ec; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #444;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #ad1457; 
}


.option {
    margin-bottom: 20px;
    text-align: left;
}

.option label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

input[type='number'],
.checkbox-container {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #f06292; 
    box-sizing: border-box; 
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-group input {
    margin-right: 10px;
    accent-color: #ec407a; 
}

button {
    background-color: #ec407a; 
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d81b60; 
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.modal-content h2 {
    color: #ad1457;
    margin-top: 0;
}

#generated-password {
    background-color: #fce4ec;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: bold;
    color: #c2185b;
    word-wrap: break-word; 
    border: 1px dashed #ec407a;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}

#confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: 1001;
}